  <div ng-app='<%= application_name %>'>
    
    <div class="container" ng-view></div>
    
    <%%= javascript_include_tag "<%= application_name %>/<%= application_name %>Loader" %>

    
  </div>

